.body{
    margin: -91px;
    padding: 65px;
    background-color: rgb(0, 0, 0);
}
.h1{
    text-align: center;
    font-size: 50px;
    color: rgb(255, 255, 0);

}
.wrapper {
    background-color: rgb(197, 178, 7);
    text-align: center;
    margin-left: 460px;
    margin-right: 416px;
    padding: 47px;
    font-size: 22px;
    box-sizing: 22px;
    border-spacing: 20px;
}
.fname{
    width:100%;
    text-align: left;
    padding: 12px 20px;
    margin: 6px 0;
    box-sizing: 10px;
}
.lname{
    width:100%;
    text-align: left;
    padding: 13px 24px;
    margin: -21px 0;
    box-sizing: 10px;
}
.father{
    width:100%;
    text-align: left;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: 10px;
}
.dob{
    width:100%;
    text-align: left;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: 10px;
}
.state{
    width:100%;
    text-align: left;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: 10px;
}
.city{
    width:100%;
    text-align: left;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: 10px;
}
.party{
    width:100%;
    text-align: left;
    padding: 12px 6px;
    margin: 8px 0;
    box-sizing: 10px;
}
.address{
    width:100%;
    text-align: left;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: 10px;
}
.email{
    width:100%;
    text-align: left;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: 10px;
}
.cno{
    width:100%;
    text-align: left;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: 10px;
}
.pin{
    width:100%;
    text-align: left;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: 10px;
}
.uname{
    width:100%;
    text-align: left;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: 10px;
}
.gender{
    width:100%;
    text-align: left;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: 10px;
}
.pass{
    width:100%;
    text-align: left;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: 10px;
}
.cpass
{
    width:100%;
    text-align: left;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: 10px;
}
.region{
    width:100%;
    text-align: left;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: 10px;
}
.question{
    width:100%;
    text-align: left;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: 10px;
}
.answer{
    width:100%;
    text-align: left;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: 10px;
}

.submit{
    margin: 20px;
    padding:10px;
    border-radius: 3px;
    font-style: bold;
}
input[type=text]{
    width: 30px;
    padding: 12px 20px;
    margin: 8px 0;
    width: 234px;
    height: 6px;
    border-radius: 7px;
}
input[type=submit]{
    width: 30px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    margin: 8px 0;
    width: 313px;
    height: -13px;
    border-radius: 7px;
}
submit:hover{
    color: yellow;
    background-color: rgb(3, 19, 248);
}
input[type=number]{
    width: 30px;
    padding: 12px 20px;
    margin: 8px 0;
    width: 234px;
    height: 6px;
    border-radius: 7px;
}
input[type=email]{
    width: 30px;
    padding: 12px 20px;
    margin: 8px 0;
    width: 234px;
    height: 6px;
    border-radius: 7px;
}
input[type=textarea]{
    width: 30px;
    padding: 12px 20px;
    margin: 8px 0;
    width: 234px;
    height: 6px;
    border-radius: 7px;
}
input[type=date]{
    width: 30px;
    padding: 12px 20px;
    margin: 8px 0;
    width: 234px;
    height: 6px;
    border-radius: 7px;
}
input[type=password]{
    width: 30px;
    padding: 12px 20px;
    margin: 8px 0;
    width: 234px;
    height: 6px;
    border-radius: 7px;
}
input[type=select]{
    width: 30px;
    padding: 12px 20px;
    margin: 8px 0;
    width: 234px;
    height: 6px;
    border-radius: 7px;
}
input[type=text]:focus{
    border: 3px solid rgb(17, 17, 17);
    transition: width 0.5s ease-in-out;
}
input[type=number]:focus{
    border: 3px solid rgb(0, 0, 0);
}
input[type=date]:focus{
    border: 3px solid rgb(17, 17, 17);
}
input[type=textarea]:focus{
    border: 3px solid rgb(17, 17, 17);
}
   
  